<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title><%= process.env.APP_NAME %></title>
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Load font awesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!-- Our files -->
    <link rel="stylesheet" href="/css/admin/style.css" />
    <link rel="stylesheet" href="/css/admin/progress.css" />
    <script src="/js/Jquery/Jquery.min.js"></script>
  </head>

  <body>
    <header>
      <h2><%= process.env.APP_NAME %></h2>
    </header>

    <!-- Menu -->
    <section style="min-height: 100vh">
      <main><%- body %></main>
    </section>
    <footer></footer>
  </body>
</html>
