<div class="top-nav group">
  <section>
      

      <ul class="top-nav-quicklink flexContain">
          <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
          <li><a href="/recruit"><i class="fa fa-handshake-o"></i> Tuyển dụng</a></li>
          <li><a href="/about"><i class="fa fa-info-circle"></i> Giới thiệu</a></li>              
          <li><a href="/contact"><i class="fa fa-phone"></i> Liên hệ</a></li>
      </ul> <!-- End Quick link -->
  </section><!-- End Section -->
</div><!-- End Top Nav  -->